<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixel Wars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<body>

  <!-- jumbotron -->
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1>Pixel Wars</h1>
      <p>visualizations from the r/place 2022 canvas</p>
    </div>
  </div>
        
  <div class="container">  
    <!-- drop-down box -->
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h5>Location To Analyze</h5>
            <select id="selDataset" onchange="optionChanged(this.value)">
              <option value="Dataset1">Dataset1 Name Here</option>
              <option value="Dataset2">Dataset2 Name Here</option>
            </select>
        </div>
      </div>  

        <!-- demographic info panel -->  
        <!-- <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demographic Info</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div> -->

      <!-- colors treemap / squareify plot -->
      <div class="col-md-4">
        <div id="treemap">
            <h2>Colors Used</h5>
                <p>A proportional representation of the colors used</p>
                <img src="{{url_for('static', filename='assets/Colors_Square_10x10.png')}}" 
                  align="left"
                  height="250"
                  width="400"/>
        </div>
      </div>
   
      <!-- another plot -->
      <div class="col-md-5">
        <h2>Put Another Chart Here</h2>
          <div id="barplot">
            <script>
              var barplot_dataset = {{barplot_dataset | safe}};
              var data = [
                {
                  x: barplot_dataset.x,
                  y: barplot_dataset.y,
                  
                  type: 'bar',
                  hoverongaps: false
                }
                ];
                var layout = {
                  xaxis: {
                    type: 'linear',
                    autorange: true
                  },
                  yaxis: {
                    type: 'log',
                    autorange: true
                  }
                };

                Plotly.newPlot('barplot', data, layout);
          </script>
      <p></p>
      <p></p>
      </div>
    </div>
  </div>

    <!-- a big plot -->
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="heatmap"></div>
            <h2>A Big Chart Can Go Here</h5>
            <script>
              var heatmap_dataset = {{heatmap_dataset | safe}};
              var data = [
              {
                z: heatmap_dataset.data,
                x: ['midnight', '1am', '2am', '3am', '4am', '5am', '6am', '7am', '8am', '9am', '10am', '11am', 'noon', '1pm', '2pm', '3pm', '4pm', '5pm', '6pm', '7pm', '8pm', '9pm', '10pm', '11pm'],
                y: heatmap_dataset.date_column,
                type: 'heatmap',
                hoverongaps: false
              }
              ];

              Plotly.newPlot('heatmap', data);
           </script>
           <div id="foo"></div>
      </div>
    </div>
  </div>

  <div class="chart" id="bargraph">
</div>

</body>

</html> 