/* style page for Group Three's Project 3 - Pixel Wars */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DAE0E6;
}

.jumbotron {
    background-color: white !important;
}

h1{
    color: #1C1C1C;
    text-align: center;
    font-size: 6em;
}

.col-md-12 jumbotron text-center {
    background-color: #C1C8E4;
} 